<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="form">
    <div class="d-flex flex-column">
        <mat-form-field>
            <mat-label>Users</mat-label>
            <select matNativeControl formControlName="user">
                <option *ngFor="let user of data.users" [value]="user">{{user}}</option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Permissions</mat-label>
            <select matNativeControl formControlName="permission">
                <option *ngFor="let permission of permissions" [value]="permission.value">{{permission.title}}</option>
            </select>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button [mat-dialog-close]="form.value" cdkFocusInitial [disabled]="form.invalid">Ok</button>
</mat-dialog-actions>

