<mat-tab-group>

  <mat-tab label="Users permissions">
    <div class="my-3">
      <ml-user-permissions></ml-user-permissions>
    </div>
  </mat-tab>

  <mat-tab label="Experiment permissions">
    <div class="my-3">
      <ml-experiment-permissions></ml-experiment-permissions>
    </div>
  </mat-tab>

  <mat-tab label="Model permissions">
    <div class="my-3">
      <ml-model-permissions></ml-model-permissions>
    </div>
  </mat-tab>

  <mat-tab label="Group permissions">
    <div class="my-3">
      <ml-group-permissions></ml-group-permissions>
    </div>
  </mat-tab>

</mat-tab-group>
