<mat-toolbar color="primary">

    <div class="container d-flex align-items-center">

        <span class="pe-5 fs-16">MLFlow Permission Manager</span>

        <button mat-button [routerLink]="['/home']">
            <mat-icon>home</mat-icon>
            Home
        </button>
        <button mat-button [routerLink]="['/manage']">
            <mat-icon>manage_accounts</mat-icon>
            Manage Permissions
        </button>
        <span class="spacer"></span>

        <span class="pe-1 ms-auto fs-16">Hello, {{name}}</span>
        <button mat-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </div>

</mat-toolbar>
