<div class="controls-container pb-3">
  <button mat-flat-button aria-label="login" color="primary" class="me-2" (click)="redirectToMLFlow()">
    <span>Login to MLFlow</span>
  </button>
  <button mat-flat-button aria-label="login" color="primary" (click)="showAccessKeyModal()">
    <span>Create access key</span>
  </button>
</div>

<div>

  <mat-tab-group>

    <mat-tab label="Experiments">
      <div class="my-3">
        <ml-table
                [columnConfig]="experimentsColumnConfig"
                [data]="experimentsDataSource"
                *ngIf="experimentsDataSource.length; else noExperimentData">
        </ml-table>
      </div>
    </mat-tab>

    <mat-tab label="Models">
      <div class="my-3">
        <ml-table
                [columnConfig]="modelsColumnConfig"
                [data]="modelsDataSource"
                *ngIf="modelsDataSource.length; else noModelData">
        </ml-table>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #noExperimentData>
  <div class="d-flex w-100 justify-content-center py-5">
    <span>You have no experiments</span>
  </div>
</ng-template>

<ng-template #noModelData>
  <div class="d-flex w-100 justify-content-center py-5">
    <span>You have no models</span>
  </div>
</ng-template>
