<div class="search-section">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" (keyup)="filter($event)">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''" *ngIf="searchValue">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="w-100">

  <ng-container *ngFor="let column of columnConfig">
    <ng-container [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef> {{column.title}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
    </ng-container>
  </ng-container>
  <ng-container matColumnDef="actions" *ngIf="isActionsActive">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit(item)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

</table>
