<div class="my-3">
  <div class="header-section">
    <h3>Model Access</h3>
    <button mat-button (click)="add()">
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </button>
  </div>

  <ml-table
    [columnConfig]="modelColumnConfig"
    [data]="modelDataSource"
    [isActionsActive]="true"
    (editEvent)="handleUserEditForModel($event)"
  ></ml-table>
</div>

<div class="my-3">
  <div class="header-section">
    <h3>Experiment Access</h3>
    <button mat-button>
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </button>
  </div>

  <ml-table
    [columnConfig]="experimentColumnConfig"
    [data]="experimentDataSource"
    [isActionsActive]="true"
    (editEvent)="handleUserEditForExperiment($event)"
  ></ml-table>
</div>
