<mat-tab-group>
  <!--  Experiments-->
  <mat-tab label="Experiments">
    <div class="my-3">
      <div class="header-section">
      </div>

      <ml-table
              [columnConfig]="experimentsColumnConfig"
              [data]="experimentsDataSource"
              *ngIf="experimentsDataSource.length"
              [actions]="experimentsActions"
              (action)="handleExperimentActions($event)"
      ></ml-table>
    </div>
  </mat-tab>

  <!--  Models-->
  <mat-tab label="Models">
    <div class="my-3">
      <div class="header-section">
      </div>

      <ml-table
              [columnConfig]="modelsColumnConfig"
              [data]="modelsDataSource"
              *ngIf="modelsDataSource.length"
              [actions]="modelsActions"
              (action)="handleModelActions($event)"
      ></ml-table>
    </div>
  </mat-tab>

</mat-tab-group>
