<div id="popup_{{ table_id }}" class="popup">
    <div class="popup-content">
        <span class="close-button" id="closeButton_{{ table_id }}">&times;</span>
        <h3>{{ permission_who }} permission for <div id="popup-content-{{ table_id }}"></div>:</h3>
        <dropdown>
            <select id="permissions_{{ table_id }}">
                <option value="READ">Read</option>
                <option value="EDIT">Edit</option>
                <option value="MANAGE">Manage</option>
                <option value="NO_PERMISSIONS">No permission</option>
            </select>
        </dropdown>
        <button id="updateButton_{{ table_id }}">Update</button>
        <button id="revokeButton_{{ table_id }}">Revoke</button>
    </div>
</div>

<span id="userName" style="display: no;"></span>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const table = document.getElementById('dataTable_{{ table_id }}');
        const popup = document.getElementById('popup_{{ table_id }}');
        const closeButton = document.getElementById('closeButton_{{ table_id }}');
        const popupContent = document.getElementById('popup-content-{{ table_id }}');


        table.addEventListener('click', function (event) {
            if (event.target.getAttribute('data-id')) {
                const dataId = event.target.getAttribute('data-id');
                popupContent.textContent = `${dataId}`;
                popup.style.display = 'block';
            }
        });

        closeButton.addEventListener('click', () => {
            popup.style.display = 'none';
        });

        document.addEventListener('keydown', (event) => {
            if (event.key === 'Escape') {
                popup.style.display = 'none';
            }
        });
    });


</script>

<script>
            document.addEventListener('DOMContentLoaded', () => {
                const table = document.getElementById('dataTable_{{ table_id }}');
                const table_id = '{{ table_id }}';
                const updateButton = document.getElementById('updateButton_{{ table_id }}');
                const popup = document.getElementById('popup-content-{{ table_id }}');
                const newPermission = document.getElementById('permissions_{{ table_id }}');
                const dataId = localStorage.getItem('dataId');

                // Store the data-id value in a hidden span
                const hiddenSpan = document.getElementById('userName');
                hiddenSpan.textContent = dataId;

                updateButton.addEventListener('click', async () => {
                 const itemName = popup.innerText;
                 const permission = newPermission.value;
                 const userName = hiddenSpan.textContent


                let url, body;
                if (table_id === 'experiment') {
                    url = "{{ url_for('update_experiment_permission') }}";
                    body = JSON.stringify({
                        experiment_name: itemName,
                        new_permission: permission,
                        user_name: userName,
                    });
                } else if (table_id === 'model') {
                    url = "{{ url_for('update_model_permission') }}";
                    body = JSON.stringify({
                        model_name: itemName,
                        new_permission: permission,
                        user_name: userName,
                    });
                }

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: body,
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    popup.style.display = 'none';
                })
                .catch((error) => {
                    console.error('Error fetching data:', error);
                });
            });
        });

</script>