<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <h1>User List:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Is Admin</th>
                <th>Give Admin Permission</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    {{ user['id'] }}
                </td>
                <td>
                    {{ user['username'] }}
                </td>
                <td>
                    {{ user['is_admin'] }}
                </td>
                <td>
                    <form method="POST" action="{{ url_for('admin') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="username" value="{{ user['username'] }}">
                        <input type="checkbox" name="is_admin" value="true">
                        <input type="submit" value="Update">
                    </form>
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ url_for('index') }}"><button>Back</button></a>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
</body>

</html>