<!DOCTYPE html>
<html>
<head>
    <title>User creation notification</title>
    <script src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <style>
        .button {
            font-size: 20px; /* Increase font size */
            margin-right: 50px; /* Add space between the buttons */
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    </style>
</head>
<body>
    <div class="center">
        <div>
            <h1>User administration page</h1>
            <div class="button-container">
                <button id="getNotification" class="button">Create User</button> <!-- Add class to button -->
                <button id="resetPassword" class="button">Reset Password</button>
                <a href="{{ url_for('index') }}"><button>Back</button></a>
                <a href="{{ url_for('logout') }}"><button>Logout</button></a><!-- Add class to button -->
            </div>
            <div id="notification"></div>
            <div id="passwordNotification"></div>
        </div>
    </div>

   <script>
        $(document).ready(function() {
            $('#getNotification').click(function() {
                $.ajax({
                    url: '/create_or_select_user',
                    type: 'GET',
                    success: function(response) {
                        // Display notification
                        $('#notification').text(response.message).addClass(response.status);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('#resetPassword').click(function() {
                $.ajax({
                    url: '/reset_password',
                    type: 'GET',
                    success: function(response) {
                        // Display notification
                        $('#passwordNotification').text(response.message).addClass(response.status);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
