<!DOCTYPE html>
<html lang="en-US">
{% set title = "MLFlow Management" %}
{% include '_head.html' %}

<body>
    {% include '_header.html' %}
    <div class="content">
        <div class="action-buttons">
            <button id="go">Go to MLFlow</button>
            <button id="permissions">Manage permissions</button>
            <button id="accesskey">Create access key</button>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const goButton = document.getElementById('go');

                goButton.addEventListener('click', () => {
                    window.location.href = '/';
                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                const permissionsButton = document.getElementById('permissions');

                permissionsButton.addEventListener('click', () => {
                    window.location.href = "{{ url_for('list_users') }}";
                });
            });
        </script>
        {% include '_token_popup.html' %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const accessKeyButton = document.getElementById('accesskey');
                const tokenInput = document.getElementById('token');

                accessKeyButton.addEventListener('click', async () => {
                    try {
                        const response = await fetch("{{ url_for('update_username_password') }}", {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });

                        if (response.ok) {
                            const data = await response.json();
                            tokenInput.value = data.token; // Assuming the response has a 'token' property
                        } else {
                            console.error('Failed to fetch data');
                        }
                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }
                });
            });

        </script>


        {% set table_header = "Experiments access" %}
        {% set table_id = "experiments" %}
        {% include '_table_w_search.html' %}

        {% set table_header = "Models access" %}
        {% set table_id = "models" %}
        {% include '_table_w_search.html' %}

    </div>
    {% include '_footer.html' %}
</body>

</html>