<!DOCTYPE html>
<html>
<head>
    <title>Password page</title>
    <script src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    <h1>Reset Password page</h1>
    <button id="getNotification">Reset Password</button>
    <div id="notification"></div>

    <script>
        $(document).ready(function() {
            $('#getNotification').click(function() {
                $.ajax({
                    url: '/reset_password',
                    type: 'GET',
                    success: function(response) {
                        // Display notification
                        $('#notification').text(response.message).addClass(response.status);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>