name: Pre Release
on:
  push:
    branches:
      - rc
jobs:
    pypi-publish:
      name: upload release to PyPI Test
      runs-on: ubuntu-latest
      environment:
        name: PyPI Test
        url: https://test.pypi.org/project/mlflow-oidc-auth/
      permissions: write-all
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: 3.11
        - name: Install build dependencies
          run: |
            python -m pip install --upgrade pip
            pip install build
        - name: Set up Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 20
        - name: Make release
          uses: cycjimmy/semantic-release-action@v4
          with:
            extra_plugins: |
              - @semantic-release/exec
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - name: Publish package distributions to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            repository-url: https://test.pypi.org/legacy/
